<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get your Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
</head>

<body class="flex-column">
    <header class="headerBar">
        <h1 class="app-title"><a href="/">Mike's Tech Blog</a></h1>
        <nav class="navbar">
        <ul>
            <li class="loggs"><a href="/dashboard">Dashboard</a></li>
            <li class="loggs"><a href="/login">Login</a></li>
            <li class="loggs"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    </header>
    
    <main class="col-auto">
        {{{body}}}
    </main>
</body>

</html>
<script src="/js/logout.js"></script>
